In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [62]:
prices = pd.read_csv('prices.csv')
wind = pd.read_csv('wind_power_cleaned.csv')

In [63]:
prices['date'] = pd.to_datetime(prices['date'])
wind['date'] = pd.to_datetime(wind['date'])

In [64]:
data = pd.merge(prices, wind, on=['date', 'hour'], how='outer')

#select every 18th day and save that to a new dataframe
data['date'] = pd.to_datetime(data['date'])

In [65]:
#show rows with nan values
data[data.isnull().any(axis=1)]

           date  hour  price  wind power
7160 2023-10-26     9  70.47         NaN
7161 2023-10-26    10  70.50         NaN
7162 2023-10-26    11  74.21         NaN
7163 2023-10-26    12  74.17         NaN
7223 2023-10-29     0  14.05         NaN
8760 2023-03-26     2    NaN      1293.8

In [66]:
#get a list of every 18th day in 2023
selected_dates = pd.date_range(start='2023-01-01', end='2023-12-31', freq='18D')

In [67]:
#select every 18th day
scenarios_price = {}
scenarios_wind = {}
i=1
for date in selected_dates:
    scenarios_price[i] = prices[prices['date'] == date].reset_index(drop=True)
    scenarios_wind[i] = wind[wind['date'] == date].reset_index(drop=True)
    i+=1

In [68]:
selected_dates

DatetimeIndex(['2023-01-01', '2023-01-19', '2023-02-06', '2023-02-24',
               '2023-03-14', '2023-04-01', '2023-04-19', '2023-05-07',
               '2023-05-25', '2023-06-12', '2023-06-30', '2023-07-18',
               '2023-08-05', '2023-08-23', '2023-09-10', '2023-09-28',
               '2023-10-16', '2023-11-03', '2023-11-21', '2023-12-09',
               '2023-12-27'],
              dtype='datetime64[ns]', freq='18D')